body{
    background-color: #f7ecde;
}
.header {
    background-color: #ffc107;
    width: 18%;
    height: 20px;
    margin: auto;
    transition: all 1s ease-in-out;
    cursor: pointer;
}

.header:hover {
    height: 50px;
}
.bi-link-45deg{
    font-size: 28px;
}